#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${toeDisplayedName} - ${toeDisplayedInstallerName} is a Maven plugin to
automate installation & management of TIBCO products.

$h3 5-minute user guide*

\* <i>download-time of Maven dependencies not included.</i>

<span class="separator" />

$h4 Install TIBCO BusinessWorks 6.x

<ul class="fa-ul ul-main">
<li><p>
<span class="fa fa-hand-o-right"></span> Copy all required files in one directory:

<div class="command" title="Directory with installation packages">
<span id="command">cd /tmp/install ; ls -l</span>
<span class="argument"> </span>
<span class="result">total 961M</span>
<span class="result">-rw-r--r-- 1 tibco tibco 961M Jan 01  2016 TIB_BW_6.3.1_win_x86_64.zip</span>
</div>
</p></li>
<li><p>
<span class="fa fa-hand-o-right"></span> Define the target environment and
launch the command:

<div class="command" title="Install TIBCO BusinessWorks 6.x">
<span id="command">mvn toe:bw6-install</span>
<span class="argument">-Dtibco.installation.environmentName=BW6</span>
<span class="argument">-Dtibco.installation.root=C:/tibco/bw6</span>
</div>

</p></li>
</ul>

<span class="separator" />

$h4 Install TIBCO BusinessWorks 5.x

<ul class="fa-ul ul-main">
<li><p>
<span class="fa fa-hand-o-right"></span> Copy all required files in one directory:

<div class="command" title="Directory with installation packages">
<span id="command">cd /tmp/install ; ls -l</span>
<span class="argument"> </span>
<span class="result">total 551M</span>
<span class="result">-rw-r--r-- 1 tibco tibco 161M Jan 01  2016 TIB_BW_5.13.0_win_x86_64.zip</span>
<span class="result">-rw-r--r-- 1 tibco tibco 240M Jan 01  2016 TIB_TRA_5.10.0_win_x86_64.zip</span>
<span class="result">-rw-r--r-- 1 tibco tibco 150M Jan 01  2016 TIB_rv_8.4.4_win_x86_64_vc10.zip</span>
</div>
</p></li>
<li><p>
<span class="fa fa-hand-o-right"></span> Define the target environment and
launch the command:

<div class="command" title="Install TIBCO BusinessWorks 5.x">
<span id="command">mvn toe:bw5-install</span>
<span class="argument">-Dtibco.installation.environmentName=BW5</span>
<span class="argument">-Dtibco.installation.root=C:/tibco/bw5</span>
</div>

</p></li>
</ul>

---

$h2 Documentation

<ul class="fa-ul">
  <li><span class="fa-li fa fa-plug"></span> <a href="./plugin-info.html">Plugin documentation</a>
    <ul class="fa-ul">
      <li><span class="fa-li fa fa-cog"></span> <a href="./environments.html">Full environment installation</a></li>
      <li><span class="fa-li fa fa-cog"></span> <a href="./packages-resolution.html">Automatic packages resolution</a></li>
    </ul>
  </li>
  <li>Source <span class="fa-li fa fa-git"></span> <a href="./source-repository.html">repository</a> / <span class="fa-li fa fa-git"></span> <a href="./xref/index.html">reference</a></li>
  <li><span class="fa-li fa fa-coffee"></span> <a href="./apidocs/index.html">Javadoc</a></li>
</ul>
